*{
	margin: 0;
	padding: 0;
}
body{
	display: flex;
	justify-content: center;
}

.App {
	text-align: center;
	width: 90vw;
	background-color: dodgerblue;
	margin-top: 0.5vh;
	border-radius: 4px 4px 0 0;
	min-height: 99.5vh;
	display: flex;
	justify-content: center;
}

#form{
	position: fixed;
	bottom: 0.5vh;
	width: 98%;
}

#input{
	width: 72vw;
	height: 4.8vh;
	border-radius: 2px;
	outline-style: none;
	outline-width: none;
	border: none;
	font-size: 3.2vh;
}

